<style type="text/css">
  .lazy_top {
    margin-top: 100px;
  }
</style>

<div class="inner lazy_top">
  <p><%= @hash_with_url.total_count %> results found </p>
  <%= paginate @hash_with_url %>
</div>

<div class="inner">
  <% @hash_with_url.each do |photo| %>
    <div class="col-lg-4">
      <a href="<%= generate_big_picture(photo[:picture_url], "h") %>" data-toggle="lightbox">
        <img src="<%= photo[:picture_url] %>">
      </a>
    </div>
  <% end %>
</div>

<script type="text/javascript">
  $(document).on('click', '[data-toggle="lightbox"]', function(event) {
    event.preventDefault();
    $(this).ekkoLightbox();
  });
</script>